<%= form_tag "/clothes/code", method: "post" do %>
<div id="code-warpper"></div>

<div>
  <input type="hidden" name="code" id="code" />
</div>
<input type="submit" value="Validate" />
<% end %>

<script src="/script.js"></script>