<div class="code_titles">
	<h2>Mark your garment</h2>
	<h3>Mark generator</h3>
</div>

<%= form_tag "/clothes/code", method: "post" do %>
	<div id="code-warpper"></div>

	<div>
  	<input type="hidden" name="code" id="code" />
	</div>
	<input class="code" type="submit" value="Validate" />
<% end %>

<script src="/script.js"></script>