<h1>Community</h1>

<div class="container-community">
  <h2>Upcycle your garment Tutorial fring macramé</h2>
  <div class= "community-picture" >
    <img src="assets/generation-page-tuto.jpg">
  </div>
</div>
