<div class="community_title">
	<h2>Upcycle your garment</h2>
</div>
<div class="container-community">
  <h3>Tutorial fringe macramé</h3>
  <div class= "community-picture" >
    <img src="assets/generation-page-tuto.jpg">
  </div>
</div>
