<div class="nav-bar">
	<div class="nav-bar_brand">GGeneration</div><div class="nav-bar_nav">
		<a href="#">MARK</a>
		<a href="#">HISTORY</a>
		<a href="#">COMMUNITY</a>
	</div>
</div>
<div class="hall-fame_title">Hall of Fame</div>
<div class="hall-fame">
		<% @users.each do |user| %>
		<div class="hall-fame_user" style="background: white;">
			<div style="background: url(<%= user.picture.url %>);background-position:center center; background-size: cover; height:200px;"></div>
			<div class="hall-fame_user_name">
				<%= user.name %>
			</div>
		</div>
	<% end %>
</div>
