<div class="row">
	<div class="col-md-6">
	</div>
	<div class="col-md-6">
	 <div class="contain-nav">
	 	<a id="title-red" href="#">MARK</a>
	 	<a id="title-green" href="#">HISTORY</a>
	 	<a id="title-blue" rhef="#">COMMUNITY</a>
	 </div>

	</div>	
</div>