// Place all the styles related to the clothes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: "Open Sans";
}

.code_titles {
	position: absolute;
	right: 115px;
	top: 50px;
	text-align: center;
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 25px;
	}
}

#code-warpper {
	position: absolute;
	right: 220px;
	top: 250px;
}

.code {
	position: absolute;
	right: 273px;
	top: 500px;
	font-family: "Open Sans";
	font-size: 20px;
}

img {
	width: 150px;
	height: 150px;
}

.container-clothe {
	margin-left: 600px;
	margin-top: 5px;
	margin-right: 20px;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	.clothe_picture {
		float: left;
		padding-right: 20px;
	}

	h3 {
		margin: 2px;
		font-size: 14px;
	}

	p, li {
		font-size: 12px;
		margin: 0px 0px 0px 5px;
	}
}

.container_clothe_pics {
	margin-left: 600px;
	margin-top: 15px;
	margin-right: 20px;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	p {
		font-size: 12px;
		margin: 0px 0px 0px 5px;
	}
	.col2 {
		display: inline-block;
		box-sizing: border-box;	
		vertical-align: top;
	}
	.un {
		width: 30%;
		}
	.deux {
		width: 65%;
		font-size: 12px;
	}
}

.clothe_profile h3 {
	margin: 50px 0px 0px 600px;
	font-size: 25px;
}