h2 {
  color: gray;
  font-family: "Open Sans";
}
.container-community {
  margin-top: 230px;
  float: right;
  height: 700px;
  width: 70%;
  margin-right: 40px;
}

.commmunity-picture {
  width: 100%;
  height: 600px;
}

.community-picture img {
  width: 100%;
  height: auto;
}
