.community_title h2 {
  color: #000;
  font-family: "Open Sans";
  font-size: 50px;
  margin-left: 650px;
}


.container-community {
  margin-top: 50px;
  float: right;
  height: 700px;
  width: 50%;
  margin-right: 40px;
  
  h3 {
    font-size: 27px;
  }
}

.commmunity-picture {
  width: 100%;
  height: 600px;
}

.community-picture img {
  width: 100%;
  height: auto;
}
